<ion-view title="Athlete's Foot" id="page278">
  <ion-content padding="true" class="has-header">
    <h4 id="athleteSFoot-heading790" style="color:#000000;text-align:center;">Choose a Category </h4>
    <ion-list id="athleteSFoot-list49">
      <ion-item class="item-icon-right" id="athleteSFoot-list-item727" ui-sref="tabsController.athleteSFootWithItching()">With itching
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="athleteSFoot-list-item729" ui-sref="tabsController.athleteSFootWithOozing()">With oozing
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 100px;"></div>
  </ion-content>
</ion-view>