<ion-view title="Boiron Single Medicines" id="page504">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="img/LMkfwNSSLLCr4UJwakEw_BlueTubeGroup-shadows-web.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="boironSingleMedicinesBlueTubes-markdown2803" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Boiron single medicines have no side effects and do not interact with other medications, herbs or supplements. Packaged in convenient, easy-to-use multidose tubes, the quick-dissolving pellets help to relieve a wide variety of acute conditions.</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div ng-init="videourl_video2=&quot;https://www.youtube.com/embed/inivB2lgXUc?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="boironSingleMedicinesBlueTubes-video2">
      <iframe src="{{videourl_video2}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="boironSingleMedicinesBlueTubes-list116">
      <ion-item class="item-avatar" id="boironSingleMedicinesBlueTubes-list-item1333">
        <img src="img/qat5vcBCSX64N6oErN9Z_gary.jpeg">
        <h2>Dr. Gary Kracoff</h2>
        <p style="white-space:normal;">Dr. Gary Kracoff shares his top homeopathic medicines for every family’s medicine cabinet.</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>