<ion-view title="Boiron Medicine Finder" id="page5">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
   
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="boironMedicineFinder-list112">
      <ion-item class="item-thumbnail-left item-icon-right" id="boironMedicineFinder-list-item1329" ui-sref="tabsController.boironSingleMedicinesBlueTubes()">
        <img src="img/Q3QlowLOSrWLCQRYV2il_ScreenShot2018-11-28at10.44.16AM.png">
        <h2>Single Medicines </h2>
        <p style="white-space:normal;">What are Boiron single medicines (blue tubes) and how do you use them?</p>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="boironMedicineFinder-list113">
      <ion-item class="item-thumbnail-left item-icon-right" id="boironMedicineFinder-list-item1330" ui-sref="tabsController.newProducts()">
        <img src="img/6Seivu3UTEql6kqyb3NF_Arnicare-RollOn.jpg">
        <h2>New Products</h2>
        <p style="white-space:normal;">Check out our newest homeopathic products!</p>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="boironMedicineFinder-list114">
      <ion-item class="item-thumbnail-left item-icon-right" id="boironMedicineFinder-list-item1331" ui-sref="tabsController.homepathicMedicines()">
        <img src="img/6yMr0pSgTrigL8RItAgt_lavender-1595490_960_720.jpg">
        <h2>Homeopathy</h2>
        <p style="white-space:normal;">Learn about homeopathic medicines</p>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>