<ion-view title="Boiron Medicine Finder" id="page505">
  <ion-content padding="true" class="has-header">
    <ion-list id="boironMedicineFinder2-list125">
        <script>
            function openExternal(elem) {
                window.open(elem.href, "_system");
                return false; // Prevent execution of the default onClick handler 
            }
        </script>
      <ion-item class="item-icon-right" id="boironMedicineFinder2-list-item1368" href-inappbrowser="https://shop.boironusa.com" onClick="openExternal(this)">Shop
        <i class="icon ion-ios-cart-outline"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="boironMedicineFinder2-list-item1369" ui-sref="tabsController.onlineRetailers()">Online Retailers
        <i class="icon ion-laptop"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="boironMedicineFinder2-list-item1370" ui-sref="tabsController.connectWithUs()">Connect With Us
        <i class="icon ion-ios-email-outline"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="boironMedicineFinder2-list-item1371" ui-sref="tabsController.socialMediaLink()">Follow Us On Social Media
        <i class="icon ion-social-facebook"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="boironMedicineFinder2-list-item1372" href-inappbrowser="https://ibotta.com/rebates?q=boiron" onClick="openExternal(this)">Mobile Coupons
        <i class="icon ion-ios-download-outline"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="boironMedicineFinder2-list-item1373" href-inappbrowser="https://www.youtube.com/user/BoironUSA" onClick="openExternal(this)" >Videos
        <i class="icon ion-ios-videocam-outline"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="boironMedicineFinder2-list-item1374">Easy Guide to Homeopathy
        <i class="icon ion-ios-book-outline"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
