<ion-view title="Burns" id="page280">
  <ion-content padding="true" class="has-header">
    <h4 id="burns-heading840" style="color:#000000;text-align:center;">Choose a Category </h4>
    <ion-list id="burns-list51">
      <ion-item class="item-icon-right" id="burns-list-item734" ui-sref="tabsController.burnsBlisters()">Blisters
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="burns-list-item735" ui-sref="tabsController.burnsPinkSkinItching()">Pink skin, itching
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="burns-list-item736" ui-sref="tabsController.burnsRedSkinBurning()">Red skin, burning
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 100px;"></div>
  </ion-content>
</ion-view>