<ion-view title="Chapped lips" id="page281">
  <ion-content padding="true" class="has-header">
    <h4 id="chappedLips-heading855" style="color:#000000;text-align:center;">Choose a Category </h4>
    <ion-list id="chappedLips-list52">
      <ion-item class="item-icon-right" id="chappedLips-list-item737" ui-sref="chappedLipsOnLowerLipsWithDryLips()">On lower lips, with dry lips
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="chappedLips-list-item738" ui-sref="chappedLipsPerleche()">Perleche
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 100px;"></div>
  </ion-content>
</ion-view>