<ion-view title="Cold and Flu - Sinus Pain Meds" id="page112">
  <ion-content padding="true" class="has-header">
    <h4 id="coldAndFluSinusPainMeds-heading358" style="color:#000000;text-align:center;">Choose a Category </h4>
    <ion-list id="coldAndFluSinusPainMeds-list25">
      <ion-item class="item-icon-right" id="coldAndFluSinusPainMeds-list-item355" ui-sref="tabsController.sinusPainPainAtBaseOfNose()">Pain at the base of the nose
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="coldAndFluSinusPainMeds-list-item356" ui-sref="tabsController.sinusPainPainInTheUpperJaw()">Pain in the upper jaw
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="coldAndFluSinusPainMeds-list-item357" ui-sref="tabsController.sinusPainWithThickGreenishDischarge()">With thick, greenish discharge
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="coldAndFluSinusPainMeds-list-item358" ui-sref="tabsController.sinusPainOther()">None of the above
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 100px;"></div>
  </ion-content>
</ion-view>