<ion-view title="Online Retailers" id="page530">
    <ion-content padding="true" class="has-header">


  
       <div class="spacer" style="height: 25px;"></div>
       <style>
            input[type=text], select {
              width: 95%;
              padding: 12px 20px;
              margin: 8px 0;
              display: inline-block;
              border: 1px solid #ccc;
              border-radius: 4px;
              box-sizing: border-box;
            }
            input[type=email], select {
              width: 95%;
              padding: 12px 20px;
              margin: 8px 0;
              display: inline-block;
              border: 1px solid #ccc;
              border-radius: 4px;
              box-sizing: border-box;
            }
           button[type=submit] {
              width: 95%;
              background-color: #11c1f3;
              color: white;
              padding: 14px 20px;
              margin: 8px 0;
              border: none;
              border-radius: 4px;
              cursor: pointer;
              font-size: 18px;
              
            }
            
            input[type=submit]:hover {
              background-color: #45a049;
            }
        
            </style>
        
        <div>
                <form id="subForm" class="js-cm-form" action="https://www.createsend.com/t/subscribeerror?description=" method="post" data-id="92D4C54F0FEC16E5ADC2B1904DE9ED1A0A84623EEF14154E7E150544C27736DD26C2792B0ACFB9BCAC4BF38653530EDBCECCAD847E14E1683402915605359BBB">	
                    <p>
                        <label for="fieldName">Name</label>
                        <br />
                        <input id="fieldName" name="cm-name" type="text" />
                    </p>
                    <p>
                        <label for="fieldEmail">Email</label>
                        <br />
                        <input id="fieldEmail" name="cm-gjufl-gjufl" type="email" class="js-cm-email-input"
                        required />
                    </p>
                    <p>
                 
                        <button class="js-cm-submit-button" type="submit">Connect With Us</button>
                   
                    </p>
                    </form>
                   
          
          </div>
     
          
  
  
  
    </ion-content>
  </ion-view>