<ion-view title="Diarrhea - Traveler's Diarrhea" id="page166">
  <ion-content padding="true" class="has-header">
    <h4 id="diarrheaTravelerSDiarrhea-heading526" style="color:#000000;text-align:center;">Boiron Products</h4>
    <form id="diarrheaTravelerSDiarrhea-form125" class="list">
      <ion-toggle toggle-class="toggle-positive" id="diarrheaTravelerSDiarrhea-toggle124" ng-model="showContent">Warnings &amp; Information</ion-toggle>
      <div id="diarrheaTravelerSDiarrhea-markdown920" class="show-list-numbers-and-dots"></div>
    </form>
    <div id="diarrheaTravelerSDiarrhea-markdown921" ng-show="showContent" class="show-list-numbers-and-dots">
      <p style="color:#000000;">See a doctor if you've had severe diarrhea for more than 2 days, if you cannot keep liquids down for 24 hours, if you experience extreme pain or cramps, or if you have a fever higher than 101.5°F.</p>
    </div>
    <div class="list card" id="diarrheaTravelerSDiarrhea-card2321">
      <ion-item id="diarrheaTravelerSDiarrhea-list-item503">Podophyllum peltatum 30C</ion-item>
      <div class=" item item-image">
        <img src="img/E2QvdwZxQlC1McdTowPd_bluetubes.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="diarrheaTravelerSDiarrhea-list-item-container499">
        <div id="diarrheaTravelerSDiarrhea-markdown922" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Podophyllum peltatum relieves watery diarrhea, with cramping pain. The diarrhea occurs most often in the morning, and is often caused by excessive eating of fresh fruits.</p>
        </div>
      </div>
      <a ui-sref="tabsController.findAStore()" id="diarrheaTravelerSDiarrhea-button373" class="button button-positive button-block">Find Near You</a>
      <h5 id="diarrheaTravelerSDiarrhea-heading527" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="diarrheaTravelerSDiarrhea-list-item-container500">
        <div id="diarrheaTravelerSDiarrhea-markdown923" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue after each bowel movement. Decrease frequency with improvement.</p>
        </div>
      </div>
      <div class="spacer" style="height: 50px;"></div>
    </div>
    <h4 id="diarrheaTravelerSDiarrhea-heading528" style="color:#000000;">Medical Disclaimer</h4>
    <div id="diarrheaTravelerSDiarrhea-markdown924" class="show-list-numbers-and-dots">
      <p style="color:#000000;">The information provided by Boiron’s Homeopathic Medicine Finder is not intended to replace information supplied by your health care professional. It is also not intended to replace packaging inserts or other printed materials that may be available
        or accompany a particular medicine.</p>
    </div>
    <div id="diarrheaTravelerSDiarrhea-markdown925" class="show-list-numbers-and-dots">
      <p style="color:#000000;">*These “Uses” have not been evaluated by the Food and Drug Administration.</p>

      <p style="color:#000000;">**C, K, CK, and X are homeopathic dilutions. </p>
    </div>
    <a ui-sref="tabsController.homeopathicDilutions()" id="diarrheaTravelerSDiarrhea-button374" style="color:#FFFFFF;" class="button button-positive button-block">Learn about homeopathic dilutions</a>
  </ion-content>
</ion-view>