<ion-view title="Diarrhea - After Eating Cabbage" id="page162">
  <ion-content padding="true" class="has-header">
    <h4 id="diarrheaAfterEatingCabbage-heading514" style="color:#000000;text-align:center;">Boiron Products</h4>
    <form id="diarrheaAfterEatingCabbage-form121" class="list">
      <ion-toggle toggle-class="toggle-positive" id="diarrheaAfterEatingCabbage-toggle120" ng-model="showContent">Warnings &amp; Information</ion-toggle>
      <div id="diarrheaAfterEatingCabbage-markdown896" class="show-list-numbers-and-dots"></div>
    </form>
    <div id="diarrheaAfterEatingCabbage-markdown897" ng-show="showContent" class="show-list-numbers-and-dots">
      <p style="color:#000000;">See a doctor if diarrhea persists for more than 2 days, and immediately for infant diarrhea.</p>
    </div>
    <div class="list card" id="diarrheaAfterEatingCabbage-card2317">
      <ion-item id="diarrheaAfterEatingCabbage-list-item499">Petroleum 6C</ion-item>
      <div class=" item item-image">
        <img src="img/E2QvdwZxQlC1McdTowPd_bluetubes.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="diarrheaAfterEatingCabbage-list-item-container491">
        <div id="diarrheaAfterEatingCabbage-markdown898" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Petroleum relieves diarrhea after eating cabbage or sauerkraut, associated with general feeling of cold, and hunger after bowel movements.</p>
        </div>
      </div>
      <a ui-sref="tabsController.findAStore()" id="diarrheaAfterEatingCabbage-button365" class="button button-positive button-block">Find Near You</a>
      <h5 id="diarrheaAfterEatingCabbage-heading515" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="diarrheaAfterEatingCabbage-list-item-container492">
        <div id="diarrheaAfterEatingCabbage-markdown899" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue after each bowel movement. Decrease frequency with improvement.</p>
        </div>
      </div>
      <div class="spacer" style="height: 50px;"></div>
    </div>
    <h4 id="diarrheaAfterEatingCabbage-heading516" style="color:#000000;">Medical Disclaimer</h4>
    <div id="diarrheaAfterEatingCabbage-markdown900" class="show-list-numbers-and-dots">
      <p style="color:#000000;">The information provided by Boiron’s Homeopathic Medicine Finder is not intended to replace information supplied by your health care professional. It is also not intended to replace packaging inserts or other printed materials that may be available
        or accompany a particular medicine.</p>
    </div>
    <div id="diarrheaAfterEatingCabbage-markdown901" class="show-list-numbers-and-dots">
      <p style="color:#000000;">*These “Uses” have not been evaluated by the Food and Drug Administration.</p>

      <p style="color:#000000;">**C, K, CK, and X are homeopathic dilutions. </p>
    </div>
    <a ui-sref="tabsController.homeopathicDilutions()" id="diarrheaAfterEatingCabbage-button366" style="color:#FFFFFF;" class="button button-positive button-block">Learn about homeopathic dilutions</a>
  </ion-content>
</ion-view>