<ion-view title="Digestive Cramps - Improved by Pressure" id="page172">
  <ion-content padding="true" class="has-header">
    <h4 id="digestiveCrampsImprovedByPressure-heading545" style="color:#000000;text-align:center;">Boiron Products</h4>
    <form id="digestiveCrampsImprovedByPressure-form130" class="list">
      <ion-toggle toggle-class="toggle-positive" id="digestiveCrampsImprovedByPressure-toggle129" ng-model="showContent">Warnings &amp; Information</ion-toggle>
      <div id="digestiveCrampsImprovedByPressure-markdown956" class="show-list-numbers-and-dots"></div>
    </form>
    <div id="digestiveCrampsImprovedByPressure-markdown957" ng-show="showContent" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Cramps are often caused by gas or slow digestion. See a doctor if cramps do not improve within one day or recur frequently.</p>
    </div>
    <div class="list card" id="digestiveCrampsImprovedByPressure-card2329">
      <ion-item id="digestiveCrampsImprovedByPressure-list-item522">Colocynthis 6C</ion-item>
      <div class=" item item-image">
        <img src="img/E2QvdwZxQlC1McdTowPd_bluetubes.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="digestiveCrampsImprovedByPressure-list-item-container515">
        <div id="digestiveCrampsImprovedByPressure-markdown958" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Colocynthis relieves abdominal cramps improved by bending over, with strong pressure and heat.</p>
        </div>
      </div>
      <a ui-sref="tabsController.findAStore()" id="digestiveCrampsImprovedByPressure-button386" class="button button-positive button-block">Find Near You</a>
      <h5 id="digestiveCrampsImprovedByPressure-heading546" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="digestiveCrampsImprovedByPressure-list-item-container516">
        <div id="digestiveCrampsImprovedByPressure-markdown959" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue when needed or every 15 minutes. Decrease frequency with improvement.</p>
        </div>
      </div>
      <div class="spacer" style="height: 50px;"></div>
    </div>
    <div class="list card" id="digestiveCrampsImprovedByPressure-card2330">
      <ion-item id="digestiveCrampsImprovedByPressure-list-item523">Magnesia phosphorica 6C</ion-item>
      <div class=" item item-image">
        <img src="img/E2QvdwZxQlC1McdTowPd_bluetubes.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="digestiveCrampsImprovedByPressure-list-item-container517">
        <div id="digestiveCrampsImprovedByPressure-markdown962" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Magnesia phosphorica relieves abdominal cramps improved by heat and bending over.</p>
        </div>
      </div>
      <a ui-sref="tabsController.findAStore()" id="digestiveCrampsImprovedByPressure-button388" class="button button-positive button-block">Find Near You</a>
      <h5 id="digestiveCrampsImprovedByPressure-heading548" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="digestiveCrampsImprovedByPressure-list-item-container518">
        <div id="digestiveCrampsImprovedByPressure-markdown963" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue when needed or every 15 minutes. Decrease frequency with improvement.</p>
        </div>
      </div>
      <div class="spacer" style="height: 50px;"></div>
    </div>
    <h4 id="digestiveCrampsImprovedByPressure-heading547" style="color:#000000;">Medical Disclaimer</h4>
    <div id="digestiveCrampsImprovedByPressure-markdown960" class="show-list-numbers-and-dots">
      <p style="color:#000000;">The information provided by Boiron’s Homeopathic Medicine Finder is not intended to replace information supplied by your health care professional. It is also not intended to replace packaging inserts or other printed materials that may be available
        or accompany a particular medicine.</p>
    </div>
    <div id="digestiveCrampsImprovedByPressure-markdown961" class="show-list-numbers-and-dots">
      <p style="color:#000000;">*These “Uses” have not been evaluated by the Food and Drug Administration.</p>

      <p style="color:#000000;">**C, K, CK, and X are homeopathic dilutions. </p>
    </div>
    <a ui-sref="tabsController.homeopathicDilutions()" id="digestiveCrampsImprovedByPressure-button387" style="color:#FFFFFF;" class="button button-positive button-block">Learn about homeopathic dilutions</a>
  </ion-content>
</ion-view>