<ion-view title="Find Snoring Medicines" id="page208">
  <ion-content padding="true" class="has-header">
    <h4 id="findSnoringMedicines-heading661" style="color:#000000;text-align:center;">Choose an Additional Symptom</h4>
    <ion-list id="findSnoringMedicines-list40">
      <ion-item class="item-icon-right" id="findSnoringMedicines-list-item575" ui-sref="tabsController.overindulgence()">From overindulgence
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findSnoringMedicines-list-item576" ui-sref="tabsController.snoringFromPostnasalDrip()">From postnasal drip
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findSnoringMedicines-list-item577" ui-sref="tabsController.snoringOther()">None of the above
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>