<ion-view title="Find Runny Nose Medicines" id="page18">
  <ion-content padding="true" class="has-header">
    <h4 id="findRunnyNoseMedicines-heading35" style="color:#000000;text-align:center;">Choose an Additional Symptom</h4>
    <ion-list id="findRunnyNoseMedicines-list3">
      <ion-item class="item-icon-right" id="findRunnyNoseMedicines-list-item48" ui-sref="tabsController.runnyNoseWithDryness()">Alternating with dryness
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findRunnyNoseMedicines-list-item49" ui-sref="tabsController.runnyNoseWithBurning()">Burning nasal discharge
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>