<ion-view title="Find Hot Flash Medicines" id="page419">
  <ion-content padding="true" class="has-header">
    <h4 id="findHotFlashMedicines-heading1324" style="color:#000000;text-align:center;">Choose an Additional Symptom</h4>
    <ion-list id="findHotFlashMedicines-list104">
      <ion-item class="item-icon-right" id="findHotFlashMedicines-list-item1191" ui-sref="tabsController.associatedWithMenopause()">Associated with menopause
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findHotFlashMedicines-list-item1192" ui-sref="tabsController.associatedWithNightSweats()">Associated with night sweats
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>