<ion-view title="Find Hiccups Medicines" id="page191">
  <ion-content padding="true" class="has-header">
    <h4 id="findHiccupsMedicines-heading608" style="color:#000000;text-align:center;">Choose an Additional Symptom</h4>
    <ion-list id="findHiccupsMedicines-list37">
      <ion-item class="item-icon-right" id="findHiccupsMedicines-list-item543" ui-sref="tabsController.hiccupsAfterALargeMeal()">After a large meal
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findHiccupsMedicines-list-item544" ui-sref="tabsController.hiccupsImprovedByDrinkingColdWater()">Improved by drinking cold water
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findHiccupsMedicines-list-item545" ui-sref="tabsController.hiccupsPainful()">Painful
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findHiccupsMedicines-list-item546" ui-sref="tabsController.hiccupsTriggeredByStress()">Triggered by stress
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>