<ion-view title="Find Sunburn Medicines" id="page294">
  <ion-content padding="true" class="has-header">
    <h4 id="findSunburnMedicines-heading922" style="color:#000000;text-align:center;">Choose an Additional Symptom</h4>
    <ion-list id="findSunburnMedicines-list65">
      <ion-item class="item-icon-right" id="findSunburnMedicines-list-item793" ui-sref="tabsController.sunburnPinkSkinItching()">Pink skin, itching
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findSunburnMedicines-list-item794" ui-sref="tabsController.sunburnRedSkinItching()">Red skin, burning
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>