<ion-view title="Find Heartburn Medicines" id="page187">
  <ion-content padding="true" class="has-header">
    <h4 id="findHeartburnMedicines-heading592" style="color:#000000;text-align:center;">Choose a Category </h4>
    <ion-list id="findHeartburnMedicines-list36">
      <ion-item class="item-icon-right" id="findHeartburnMedicines-list-item484" ui-sref="heartburnWithGasAndBloating()">With gas and bloating
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findHeartburnMedicines-list-item510" ui-sref="heartburnWithIntenseBurning()">With intense burning
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findHeartburnMedicines-list-item521" ui-sref="heartburnOther()">Other
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 100px;"></div>
  </ion-content>
</ion-view>