<ion-view title="Find Insect Bite Medicines" id="page286">
  <ion-content padding="true" class="has-header">
    <h4 id="findInsectBiteMedicines-heading914" style="color:#000000;text-align:center;">Choose an Additional Symptom</h4>
    <ion-list id="findInsectBiteMedicines-list57">
      <ion-item class="item-icon-right" id="findInsectBiteMedicines-list-item642" ui-sref="tabsController.insectBitesChiggers()">Chiggers
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findInsectBiteMedicines-list-item691" ui-sref="tabsController.insectBitesMisquitoes()">Mosquitoes
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findInsectBiteMedicines-list-item692" ui-sref="tabsController.insectBitesSpiders()">Spiders
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findInsectBiteMedicines-list-item739" ui-sref="tabsController.insectBitesWaspsBees()">Wasps, bees
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>