<ion-view title="Find Nasal Congestion Medicines" id="page21">
  <ion-content padding="true" class="has-header">
    <h4 id="findNasalCongestionMedicines-heading42" style="color:#000000;text-align:center;">Choose an Additional Symptom</h4>
    <ion-list id="findNasalCongestionMedicines-list5">
      <ion-item class="item-icon-right" id="findNasalCongestionMedicines-list-item84" ui-sref="tabsController.nasalCongestionFromAllergies()">From allergies
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findNasalCongestionMedicines-list-item85" ui-sref="tabsController.findColdAndFluMedicines()">From cold
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>