<ion-view title="Find Sun Allergy Medicines" id="page293">
  <ion-content padding="true" class="has-header">
    <h4 id="findSunAllergyMedicines-heading921" style="color:#000000;text-align:center;">Choose an Additional Symptom</h4>
    <ion-list id="findSunAllergyMedicines-list64">
      <ion-item class="item-icon-right" id="findSunAllergyMedicines-list-item791" ui-sref="tabsController.sunAllergyBeforeExposure()">Before exposure
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findSunAllergyMedicines-list-item792" ui-sref="tabsController.sunAllergyAfterExposure()">If eruption has occurred
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>