<ion-view title="Find Jet Lag Medicines" id="page201">
  <ion-content padding="true" class="has-header">
    <h4 id="findJetLagMedicines-heading638" style="color:#000000;text-align:center;">Choose an Additional Symptom</h4>
    <ion-list id="findJetLagMedicines-list39">
      <ion-item class="item-icon-right" id="findJetLagMedicines-list-item564" ui-sref="tabsController.jetLagDrowsiness()">Drowsiness
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findJetLagMedicines-list-item565" ui-sref="tabsController.jetLagMusclePain()">Muscle pains
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findJetLagMedicines-list-item566" ui-sref="tabsController.jetLagSleepPatternDisturbances()">Sleep pattern disturbances
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findJetLagMedicines-list-item567" ui-sref="tabsController.jetLagOther()">None of the above
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>