<ion-view title="Find Poison Oak, Ivy, or Sumac Meds" id="page288">
  <ion-content padding="true" class="has-header">
    <h4 id="findPoisonOakIvyOrSumacMeds-heading916" style="color:#000000;text-align:center;">Choose an Additional Symptom</h4>
    <ion-list id="findPoisonOakIvyOrSumacMeds-list59">
      <ion-item class="item-icon-right" id="findPoisonOakIvyOrSumacMeds-list-item768" ui-sref="tabsController.insectBitesChiggers()">Red itchy skin
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findPoisonOakIvyOrSumacMeds-list-item769" ui-sref="tabsController.insectBitesMisquitoes()">With blisters
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>