<ion-view title="Find Bleeding Gums Medicines" id="page393">
  <ion-content padding="true" class="has-header">
    <h4 id="findBleedingGumsMedicines-heading1274" style="color:#000000;text-align:center;">Choose an Additional Symptom</h4>
    <ion-list id="findBleedingGumsMedicines-list81">
      <ion-item class="item-icon-right" id="findBleedingGumsMedicines-list-item1032" ui-sref="tabsController.bleedingGumsWithABadTasteInTheMouth()">With a bad taste in the mouth
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findBleedingGumsMedicines-list-item1040" ui-sref="tabsController.bleedingGumsOther()">Other
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>