<ion-view title="Find Small Wound Medicines" id="page292">
  <ion-content padding="true" class="has-header">
    <h4 id="findSmallWoundMedicines-heading920" style="color:#000000;text-align:center;">Choose an Additional Symptom</h4>
    <ion-list id="findSmallWoundMedicines-list63">
      <ion-item class="item-icon-right" id="findSmallWoundMedicines-list-item787" ui-sref="tabsController.smallWoundsFromASharpObject()">From a sharp object
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findSmallWoundMedicines-list-item788" ui-sref="tabsController.smallWoundsPunctureWounds()">Puncture wounds
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>