<ion-view title="Muscle Stiffness - From Overexertion" id="page368">
  <ion-content padding="true" class="has-header">
    <h4 id="muscleStiffnessFromOverexertion-heading1203" style="color:#000000;text-align:center;">Boiron Products</h4>
    <form id="muscleStiffnessFromOverexertion-form282" class="list">
      <ion-toggle toggle-class="toggle-positive" id="muscleStiffnessFromOverexertion-toggle281" ng-model="showContent">Warnings &amp; Information</ion-toggle>
      <div id="muscleStiffnessFromOverexertion-markdown2083" ng-show="showContent" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Stiffness from overexertion usually appears 12 to 24 hours after intense exercise. Be sure to drink plenty of water. See a doctor if muscle soreness appears during exercise or after an injury, or if it doesn't disappear within a week.</p>
      </div>
      <div id="muscleStiffnessFromOverexertion-markdown2084" class="show-list-numbers-and-dots"></div>
      <div class="list card" id="muscleStiffnessFromOverexertion-card2719">
        <ion-item id="muscleStiffnessFromOverexertion-list-item982">Arnicare Gel</ion-item>
        <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider51" delegate-handle="slider51" id="muscleStiffnessFromOverexertion-slider51" style="width:100%;height:270px;">
          <ion-slide-page id="muscleStiffnessFromOverexertion-slide215" style="background:url(&quot;img/uKGw7ysIR8KPrGciXBTw_Arnicare-Gel.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
          <ion-slide-page id="muscleStiffnessFromOverexertion-slide2123" style="background:url(&quot;img/B6Sktb0IRTClrBjCOjxV_Arnicare-Gel2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
          <ion-slide-page id="muscleStiffnessFromOverexertion-slide2124" style="background:url(&quot;img/VqY8wPWjRPSmLEkT2fU5_Arnicare-Gel3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
        </ion-slides>
        <div class="item item-body" id="muscleStiffnessFromOverexertion-list-item-container1123">
          <div id="muscleStiffnessFromOverexertion-markdown2085" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Temporarily relieves muscle pain and stiffness due to minor injuries, overexertion and falls; Reduces pain, swelling and discoloration from bruises</p>
          </div>
        </div>
        <a ui-sref="tabsController.findAStore()" id="muscleStiffnessFromOverexertion-button839" class="button button-positive button-block">Find Near You</a>
        <h5 id="muscleStiffnessFromOverexertion-heading1204" style="color:#000000;">Dosage:</h5>
        <div class="item item-body" id="muscleStiffnessFromOverexertion-list-item-container1124">
          <div id="muscleStiffnessFromOverexertion-markdown2086" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Apply a thin layer of Arnicare Gel to affected area and massage gently as soon as possible after minor injury. Repeat 3 times a day or as needed. For external use only. Avoid contact with eyes, mucous membranes, damaged skin or wounds. Do
              not use if you are allergic to Arnica montana or to any of this product's inactive ingredients. When using this product, use only as directed; do not bandage tightly or use a heating pad. Stop use and ask a doctor if condition persists for
              more than 3 days or worsens. Keep out of reach of children. If swallowed, get medical help or contact a Poison Control Center right away.</p>
          </div>
        </div>
        <div class="spacer" style="height: 50px;"></div>
      </div>
      <div class="list card" id="muscleStiffnessFromOverexertion-card2720">
        <ion-item id="muscleStiffnessFromOverexertion-list-item983">Arnicare Cream</ion-item>
        <div class=" item item-image">
          <img src="img/qjo7L7hQaGBdhKBzXeFM_Arnicare-Cream.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div class="item item-body" id="muscleStiffnessFromOverexertion-list-item-container1125">
          <div id="muscleStiffnessFromOverexertion-markdown2087" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Temporarily relieves muscle pain and stiffness due to minor injuries, overexertion and falls; Reduces pain, swelling and discoloration from bruises</p>
          </div>
        </div>
        <a ui-sref="tabsController.findAStore()" id="muscleStiffnessFromOverexertion-button840" class="button button-positive button-block">Find Near You</a>
        <h5 id="muscleStiffnessFromOverexertion-heading1205" style="color:#000000;">Dosage:</h5>
        <div class="item item-body" id="muscleStiffnessFromOverexertion-list-item-container1126">
          <div id="muscleStiffnessFromOverexertion-markdown2088" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Apply a thin layer of Arnicare Cream to affected area and massage gently as soon as possible after minor injury. Repeat 3 times a day or as needed. For external use only. Avoid contact with eyes, mucous membranes, damaged skin or wounds. Do
              not use if you are allergic to Arnica montana or to any of this product's inactive ingredients. When using this product, use only as directed; do not bandage tightly or use a heating pad. Stop use and ask a doctor if condition persists for
              more than 3 days or worsens. Keep out of reach of children. If swallowed, get medical help or contact a Poison Control Center right away.</p>
          </div>
        </div>
        <div class="spacer" style="height: 50px;"></div>
      </div>
      <div class="list card" id="muscleStiffnessFromOverexertion-card2721">
        <ion-item id="muscleStiffnessFromOverexertion-list-item984">Arnica montana 6C</ion-item>
        <div class=" item item-image">
          <img src="img/E2QvdwZxQlC1McdTowPd_bluetubes.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div class="item item-body" id="muscleStiffnessFromOverexertion-list-item-container1127">
          <div id="muscleStiffnessFromOverexertion-markdown2089" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Arnica montana relieves pain and stiffness from muscle overexertion </p>
          </div>
        </div>
        <a ui-sref="tabsController.findAStore()" id="muscleStiffnessFromOverexertion-button841" class="button button-positive button-block">Find Near You</a>
        <h5 id="muscleStiffnessFromOverexertion-heading1206" style="color:#000000;">Dosage:</h5>
        <div class="item item-body" id="muscleStiffnessFromOverexertion-list-item-container1128">
          <div id="muscleStiffnessFromOverexertion-markdown2090" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue every 2 hours. Decrease frequency with improvement.</p>
          </div>
        </div>
        <div class="spacer" style="height: 50px;"></div>
      </div>
    </form>
    <h4 id="muscleStiffnessFromOverexertion-heading1207" style="color:#000000;">Medical Disclaimer</h4>
    <div id="muscleStiffnessFromOverexertion-markdown2091" class="show-list-numbers-and-dots">
      <p style="color:#000000;">The information provided by Boiron’s Homeopathic Medicine Finder is not intended to replace information supplied by your health care professional. It is also not intended to replace packaging inserts or other printed materials that may be available
        or accompany a particular medicine.</p>
    </div>
    <div id="muscleStiffnessFromOverexertion-markdown2092" class="show-list-numbers-and-dots">
      <p style="color:#000000;">*These “Uses” have not been evaluated by the Food and Drug Administration.</p>

      <p style="color:#000000;">**C, K, CK, and X are homeopathic dilutions. </p>
    </div>
    <a ui-sref="tabsController.homeopathicDilutions()" id="muscleStiffnessFromOverexertion-button842" style="color:#FFFFFF;" class="button button-positive button-block">Learn about homeopathic dilutions</a>
  </ion-content>
</ion-view>