<ion-view title="Online Retailers" id="page506">
  <ion-content padding="true" class="has-header">

      <div class="spacer" style="height: 25px;"></div>
      <div class=" item item-image">
          <a href-inappbrowser="https://www.amazon.com/gp/search?ie=UTF8&camp=1789&creative=9325&index=hpc&keywords=Boiron&linkCode=ur2&tag=bous07-20">
              <img src="img/amazon.png" style="display: block; width: auto; height: 50px; margin-left: auto; margin-right: auto;">
          </a>
        </div>
        <div class="spacer" style="height: 25px;"></div>
      <div class=" item item-image">
          <a href-inappbrowser="https://www.amazon.com/gp/search?ie=UTF8&camp=1789&creative=9325&index=hpc&keywords=Boiron&linkCode=ur2&tag=bous07-20">
              <img src="img/iherb.png" style="display: block; width: auto; height: 50px; margin-left: auto; margin-right: auto;">
          </a>
        </div>
        <div class="spacer" style="height: 25px;"></div>
      <div class=" item item-image">
          <a href-inappbrowser="https://www.amazon.com/gp/search?ie=UTF8&camp=1789&creative=9325&index=hpc&keywords=Boiron&linkCode=ur2&tag=bous07-20">
              <img src="img/vitacost.jpg" style="display: block; width: auto; height: 50px; margin-left: auto; margin-right: auto;">
          </a>
        </div>
        <div class="spacer" style="height: 25px;"></div>
      <div class=" item item-image">
          <a href-inappbrowser="https://www.amazon.com/gp/search?ie=UTF8&camp=1789&creative=9325&index=hpc&keywords=Boiron&linkCode=ur2&tag=bous07-20">
              <img src="img/pureformula.jpg" style="display: block; width: auto; height: 50px; margin-left: auto; margin-right: auto;">
          </a>
        </div>
        <div class="spacer" style="height: 25px;"></div>
      <div class=" item item-image">
          <a href-inappbrowser="https://www.amazon.com/gp/search?ie=UTF8&camp=1789&creative=9325&index=hpc&keywords=Boiron&linkCode=ur2&tag=bous07-20">
              <img src="img/luckyvitamin.png" style="display: block; width: auto; height: 50px; margin-left: auto; margin-right: auto;">
          </a>
        </div>
        <div class="spacer" style="height: 25px;"></div>
      <div class=" item item-image">
          <a href-inappbrowser="https://www.amazon.com/gp/search?ie=UTF8&camp=1789&creative=9325&index=hpc&keywords=Boiron&linkCode=ur2&tag=bous07-20">
              <img src="img/vitaminshoppe.jpg" style="display: block; width: auto; height: 50px; margin-left: auto; margin-right: auto;">
          </a>
        </div>
        <div class="spacer" style="height: 25px;"></div>
      <div class=" item item-image">
          <a href-inappbrowser="https://www.amazon.com/gp/search?ie=UTF8&camp=1789&creative=9325&index=hpc&keywords=Boiron&linkCode=ur2&tag=bous07-20">
              <img src="img/walmart.jpg" style="display: block; width: auto; height: 50px; margin-left: auto; margin-right: auto;">
          </a>
        </div>
<!--
        <script>
            function openExternal(elem) {
                window.open(elem.href, "_system");
                return false; // Prevent execution of the default onClick handler 
            }
        </script>-->
    





  </ion-content>
</ion-view>