<ion-view title="Overexertion" id="page73">
  <ion-content padding="true" class="has-header">
    <h4 id="overexertion-heading227" style="color:#000000;text-align:center;">Boiron Products</h4>
    <form id="overexertion-form51" class="list">
      <ion-toggle toggle-class="toggle-positive" id="overexertion-toggle50" ng-model="showContent">Warnings &amp; Information</ion-toggle>
      <div id="overexertion-markdown413" class="show-list-numbers-and-dots"></div>
    </form>
    <div id="overexertion-markdown414" ng-show="showContent" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Bruising increases with age: the skin is thinner, and the capillaries are more fragile. Bruising can also be caused by medications or some supplements. See a doctor if bruising develops for no apparent reason, if abnormal bleeding (from the nose
        or gums, or in the intestine) occurs, or if you recently started taking a new medication or supplement.</p>
    </div>
    <div class="list card" id="overexertion-card2129">
      <ion-item id="overexertion-list-item264">Arnicare Gel</ion-item>
      <div class=" item item-image">
        <img src="img/ACCAw7PnROGtAPGuDlrn_ArnicareGel.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="overexertion-list-item-container231">
        <div id="overexertion-markdown415" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Temporarily relieves muscle pain and stiffness due to minor injuries, overexertion and falls; Reduces pain, swelling and discoloration from bruises</p>
        </div>
      </div>
      <a ui-sref="tabsController.findAStore_tab8()" id="overexertion-button163" class="button button-positive button-block">Find Near You</a>
      <h5 id="overexertion-heading228" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="overexertion-list-item-container232">
        <div id="overexertion-markdown416" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Apply a thin layer of Arnicare Gel to affected area and massage gently as soon as possible after minor injury. Repeat 3 times a day or as needed. For external use only. Avoid contact with eyes, mucous membranes, damaged skin or wounds. Do not
            use if you are allergic to Arnica montana or to any of this product's inactive ingredients. When using this product, use only as directed; do not bandage tightly or use a heating pad. Stop use and ask a doctor if condition persists for more
            than 3 days or worsens. Keep out of reach of children. If swallowed, get medical help or contact a Poison Control Center right away.</p>
        </div>
      </div>
      <div class="spacer" style="height: 50px;"></div>
    </div>
    <div class="list card" id="overexertion-card2130">
      <ion-item id="overexertion-list-item265">Arnicare Cream</ion-item>
      <div class=" item item-image">
        <img src="img/DJacM7RSyh8QBvGRzR4w_Arnicare_Cream.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="overexertion-list-item-container233">
        <div id="overexertion-markdown417" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Temporarily relieves muscle pain and stiffness due to minor injuries, overexertion and falls; Reduces pain, swelling and discoloration from bruises</p>
        </div>
      </div>
      <a ui-sref="tabsController.findAStore_tab8()" id="overexertion-button164" class="button button-positive button-block">Find Near You</a>
      <h5 id="overexertion-heading229" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="overexertion-list-item-container234">
        <div id="overexertion-markdown418" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Apply a thin layer of Arnicare Cream to affected area and massage gently as soon as possible after minor injury. Repeat 3 times a day or as needed. For external use only. Avoid contact with eyes, mucous membranes, damaged skin or wounds. Do
            not use if you are allergic to Arnica montana or to any of this product's inactive ingredients. When using this product, use only as directed; do not bandage tightly or use a heating pad. Stop use and ask a doctor if condition persists for
            more than 3 days or worsens. Keep out of reach of children. If swallowed, get medical help or contact a Poison Control Center right away.</p>
        </div>
      </div>
      <div class="spacer" style="height: 50px;"></div>
    </div>
    <div class="list card" id="overexertion-card2131">
      <ion-item id="overexertion-list-item266">Arnica montana 6C</ion-item>
      <div class=" item item-image">
        <img src="img/E2QvdwZxQlC1McdTowPd_bluetubes.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="overexertion-list-item-container235">
        <div id="overexertion-markdown419" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Arnica montana relieves pain, bruising and swelling associated with trauma, surgery or overexertion.</p>
        </div>
      </div>
      <a ui-sref="tabsController.findAStore_tab8()" id="overexertion-button165" class="button button-positive button-block">Find Near You</a>
      <h5 id="overexertion-heading230" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="overexertion-list-item-container236">
        <div id="overexertion-markdown420" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue 4 times a day. Decrease frequency with improvement. </p>
        </div>
      </div>
      <div class="spacer" style="height: 50px;"></div>
    </div>
    <div class="list card" id="overexertion-card2132">
      <ion-item id="overexertion-list-item267">Cuprum metallicum 6C</ion-item>
      <div class=" item item-image">
        <img src="img/E2QvdwZxQlC1McdTowPd_bluetubes.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="overexertion-list-item-container237">
        <div id="overexertion-markdown423" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Cuprum metallicum relieves painful spasms and cramps occurring suddenly, such as hiccups, calf cramps and colic.</p>
        </div>
      </div>
      <a ui-sref="tabsController.findAStore_tab8()" id="overexertion-button167" class="button button-positive button-block">Find Near You</a>
      <h5 id="overexertion-heading232" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="overexertion-list-item-container238">
        <div id="overexertion-markdown424" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue every 2 hours. Decrease frequency with improvement.</p>
        </div>
      </div>
      <div class="spacer" style="height: 50px;"></div>
    </div>
    <h4 id="overexertion-heading231" style="color:#000000;">Medical Disclaimer</h4>
    <div id="overexertion-markdown421" class="show-list-numbers-and-dots">
      <p style="color:#000000;">The information provided by Boiron’s Homeopathic Medicine Finder is not intended to replace information supplied by your health care professional. It is also not intended to replace packaging inserts or other printed materials that may be available
        or accompany a particular medicine.</p>
    </div>
    <div id="overexertion-markdown422" class="show-list-numbers-and-dots">
      <p style="color:#000000;">*These “Uses” have not been evaluated by the Food and Drug Administration.</p>

      <p style="color:#000000;">**C, K, CK, and X are homeopathic dilutions. </p>
    </div>
    <a ui-sref="tabsController.homeopathicDilutions_tab4()" id="overexertion-button166" style="color:#FFFFFF;" class="button button-positive button-block">Learn about homeopathic dilutions</a>
  </ion-content>
</ion-view>