<ion-view title="Restless Sleep - Sleepwalking" id="page44">
  <ion-content padding="true" class="has-header">
    <h4 id="restlessSleepSleepwalking-heading109" style="color:#000000;text-align:center;">Boiron Products</h4>
    <form id="restlessSleepSleepwalking-form27" class="list">
      <ion-toggle toggle-class="toggle-positive" id="restlessSleepSleepwalking-toggle26" ng-model="showContent">Warnings &amp; Information</ion-toggle>
    </form>
    <div id="restlessSleepSleepwalking-markdown196" ng-show="showContent" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Gently wake up the child. Use this protocol if episodes tend to recur. Remove dangerous obstacles from the floor. See a doctor if symptoms last more than 7 days or worsen.</p>
    </div>
    <div class="list card" id="restlessSleepSleepwalking-card260">
      <ion-item id="restlessSleepSleepwalking-list-item170">Kali bromatum 6C</ion-item>
      <div class=" item item-image">
        <img src="img/E2QvdwZxQlC1McdTowPd_bluetubes.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="restlessSleepSleepwalking-list-item-container101">
        <div id="restlessSleepSleepwalking-markdown197" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Kali bromatum relieves restless sleep with tics, agitation and sleepwalking.</p>
        </div>
      </div>
      <a ui-sref="tabsController.findAStore()" id="restlessSleepSleepwalking-button76" class="button button-positive button-block">Find Near You</a>
      <h5 id="restlessSleepSleepwalking-heading110" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="restlessSleepSleepwalking-list-item-container102">
        <div id="restlessSleepSleepwalking-markdown198" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Give the child 5 pellets as needed, or before bedtime.</p>
        </div>
      </div>
    </div>
    <div class="list card" id="restlessSleepSleepwalking-card261">
      <ion-item id="restlessSleepSleepwalking-list-item171">Stramonium 6C</ion-item>
      <div class=" item item-image">
        <img src="img/E2QvdwZxQlC1McdTowPd_bluetubes.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="restlessSleepSleepwalking-list-item-container103">
        <div id="restlessSleepSleepwalking-markdown199" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Stramonium relieves restless sleep and sleepwalking.</p>
        </div>
      </div>
      <a ui-sref="tabsController.findAStore()" id="restlessSleepSleepwalking-button77" class="button button-positive button-block">Find Near You</a>
      <h5 id="restlessSleepSleepwalking-heading111" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="restlessSleepSleepwalking-list-item-container104">
        <div id="restlessSleepSleepwalking-markdown200" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Give the child 5 pellets as needed, or before bedtime.</p>
        </div>
      </div>
    </div>
    <div class="list card" id="restlessSleepSleepwalking-card262">
      <h4 id="restlessSleepSleepwalking-heading112" style="color:#000000;">Medical Disclaimer</h4>
      <div id="restlessSleepSleepwalking-markdown201" class="show-list-numbers-and-dots">
        <p style="color:#000000;">The information provided by Boiron’s Homeopathic Medicine Finder is not intended to replace information supplied by your health care professional. It is also not intended to replace packaging inserts or other printed materials that may be available
          or accompany a particular medicine.</p>
      </div>
      <div id="restlessSleepSleepwalking-markdown202" class="show-list-numbers-and-dots">
        <p style="color:#000000;">*These “Uses” have not been evaluated by the Food and Drug Administration.</p>

        <p style="color:#000000;">**C, K, CK, and X are homeopathic dilutions. </p>
      </div>
      <a ui-sref="tabsController.homeopathicDilutions()" id="restlessSleepSleepwalking-button78" class="button button-positive button-block">Learn about homeopathic dilutions</a>
    </div>
  </ion-content>
</ion-view>