<ion-view title="Scars - From Chickepox" id="page307">
  <ion-content padding="true" class="has-header">
    <h4 id="scarsFromChickepox-heading1070" style="color:#000000;text-align:center;">Boiron Products</h4>
    <form id="scarsFromChickepox-form236" class="list">
      <ion-toggle toggle-class="toggle-positive" id="scarsFromChickepox-toggle235" ng-model="showContent">Warnings &amp; Information</ion-toggle>
    </form>
    <div id="scarsFromChickepox-markdown1685" ng-show="showContent" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Do not scratch lesions. See a doctor if lesions worsen, or if fever increases.</p>
    </div>
    <div class="list card" id="scarsFromChickepox-card2579">
      <ion-item id="scarsFromChickepox-list-item810">Calendula Cream</ion-item>
      <div class=" item item-image">
        <img src="img/dbqmODXWQemWZA6x4Ano_CalendulaCream.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="scarsFromChickepox-list-item-container881">
        <div id="scarsFromChickepox-markdown1686" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Helps promote healing of cuts, scrapes, chafing, minor burns and sunburn</p>
        </div>
      </div>
      <a ui-sref="tabsController.findAStore()" id="scarsFromChickepox-button675" class="button button-positive button-block">Find Near You</a>
      <h5 id="scarsFromChickepox-heading1071" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="scarsFromChickepox-list-item-container882">
        <div id="scarsFromChickepox-markdown1687" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">For minor burns, immediately run cool water on the burn for several minutes and dry. For cuts, scrapes and chafing, first cleanse the area with mild soap, rinse and dry. Then apply a thin layer of Calendula Cream to affected area 3 times a day
            or as needed. For external use only. Avoid contact with eyes. Do not use if you are allergic to Calendula officinalis or to this product's inactive ingredients. Ask a doctor before use in case of deep or puncture wounds, animal bites or serious
            burns. Stop use and ask a doctor if condition persists for more than 3 days or worsens. Keep out of reach of children. If swallowed, get medical help or contact a Poison Control Center right away.</p>
        </div>
      </div>
    </div>
    <div class="list card" id="scarsFromChickepox-card2580">
      <ion-item id="scarsFromChickepox-list-item811">Antimonium tartaricum 30C</ion-item>
      <div class=" item item-image">
        <img src="img/E2QvdwZxQlC1McdTowPd_bluetubes.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="scarsFromChickepox-list-item-container883">
        <div id="scarsFromChickepox-markdown1688" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Antimonium tartaricum reduces scarring from painful, itchy and bluish vesicles, such as chickenpox or shingles.</p>
        </div>
      </div>
      <a ui-sref="tabsController.findAStore()" id="scarsFromChickepox-button676" class="button button-positive button-block">Find Near You</a>
      <h5 id="scarsFromChickepox-heading1072" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="scarsFromChickepox-list-item-container884">
        <div id="scarsFromChickepox-markdown1689" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under your tongue twice a day. Decrease frequency with improvement.</p>
        </div>
      </div>
    </div>
    <div class="list card" id="scarsFromChickepox-card2581">
      <h4 id="scarsFromChickepox-heading1073" style="color:#000000;">Medical Disclaimer</h4>
      <div id="scarsFromChickepox-markdown1690" class="show-list-numbers-and-dots">
        <p style="color:#000000;">The information provided by Boiron’s Homeopathic Medicine Finder is not intended to replace information supplied by your health care professional. It is also not intended to replace packaging inserts or other printed materials that may be available
          or accompany a particular medicine.</p>
      </div>
      <div id="scarsFromChickepox-markdown1691" class="show-list-numbers-and-dots">
        <p style="color:#000000;">*These “Uses” have not been evaluated by the Food and Drug Administration.</p>

        <p style="color:#000000;">**C, K, CK, and X are homeopathic dilutions. </p>
      </div>
      <a ui-sref="tabsController.homeopathicDilutions()" id="scarsFromChickepox-button677" class="button button-positive button-block">Learn about homeopathic dilutions</a>
    </div>
  </ion-content>
</ion-view>