<ion-view class="background" title="Symptom Search" id="page533">
    <ion-nav-buttons side="right" class="has-header">
        <button onclick="sharePhoto();" class="button icon ion-share"></button>
      </ion-nav-buttons>  

  
  <ion-content padding="true" scroll="true" overflow-scroll="true" class="iframe-wrapperer">
  
      <div class="spacer" style="height: 20px;"></div>
      <div class="spacer" style="height: 20px;"></div>

      <center>
      <div ng-init="medicines = 
      [
        {name:'Allergies from cold uticaria', link: '#/page1/coldurticaria'},
        {name:'Allergies from eye irritation', link:'#/page1/page14'},
        {name:'Allergies from hay fever', link:'#/page1/page9'},
        {name:'Allergies from hives', link:'#/page1/page22'},
        {name:'Allergies with itchy nose', link:'#/page1/page13'},
        {name:'Allergies from hives', link:'#/page1/page22'},
        {name:'Nasal congestion from allergies', link:'#/page1/page15'},
        {name:'Body aches from Cold or Flu', link:'#/page1/page72'},
        {name:'Body aches from overexertion', link:'#/page1/page52'},
        {name:'Chills from Cold or Flu', link:'#/page1/page74'},
        {name:'Cold', link:'#/page1/page32'},
        {name:'Chest congestion', link:'#/page1/page206'},
        {name:'Dry cough', link:'#/page1/page77'},
        {name:'Dry cough from cold air', link:'#/page1/page78'},
        {name:'Dry cough worse at night', link:'#/page1/page79'},
        {name:'Dry cough worse in bed', link:'#/page1/page80'},
        {name:'Dry cough worse when speaking', link:'#/page1/page81'},
        {name:'Dry cough worse with motion', link:'#/page1/page82'},
        {name:'Dry cough worsened by cold', link:'#/page1/page83'},
        {name:'Fitful cough with hypersalivation', link:'#/page1/page85'},
        {name:'Fitful cough with nausea', link:'#/page1/page86'},
        {name:'Hoarseness from voice exertion', link:'#/page1/page88'},
        {name:'Hoarseness when speaking', link:'/#/page1/page89'},
        {name:'Hoarseness with bitonal voice', link:'#/page1/page90'},
        {name:'Hoarseness with croupy cough', link: '#/page1/page91'},
        {name:'Hoarsenss worse with humidity', link:'#/page1/page92'},
        {name:'Loss of voice', link:'#/page1/page207'},
        {name:'Snoring from overindulgence', link:'#/page1/page209'},
        {name:'Snoring from postnasal drip', link:'#/page1/page210'},
        {name:'Snoring - other', link:'#/page1/page211'},
        {name:'Sore throat - feeling of splinter in throat', link:'#/page1/page126'},
        {name:'Sore throat - itching pain improved by cold liquids', link:'#/page1/page127'},
        {name:'Sore throat - with bad taste in the mouth', link:'#/page1/page128'},
        {name:'Sore throat - with croupy cough', link:'#/page1/page129'},
        {name:'Sore throat - with excessive salivation', link:'#/page1/page130'},
        {name:'Sore throat - with pain radiating to the ears', link:'#/page1/page131'},
        {name:'Sore throat - with pain when swallowing', link:'#/page1/page132'},
        {name:'Sore throat - worse at night', link:'#/page1/page133'},
        {name:'Sore throat - other', link:'#/page1/page 134'},
        {name:'Wet cough - difficult to expectorate', link:'#/page1/page517'},
        {name:'Wet cough - thick phlegm', link:'#/page1/page518'},
        {name:'Wet cough - with bronchial irritation', link:'#/page1/page519'},
        {name:'Wet cough - worse when in bed', link:'#/page1/page520'},
        {name:'Wet cough - worse when lying down', link:'#/page1/page521'},
        {name:'Cough with chest congestion', link:'#/page1/page206'},
        {name:'Crusty nostrils with thick, greenish discharge', link:'/#/page1/page94'},
        {name:'Crusty nostrils with watery discharge', link:'/#/page1/page95'},
        {name:'Ear congestion', link:'/#/page1/page96'},
        {name:'Earache from cold weather', link:'/#/page1/page35'},
        {name:'Earache associated with teething', link:'/#/page1/page36'},
        {name:'Earache with moderate fever', link:'/#/page1/page37'},
        {name:'Fever with dry and hot skin', link:'/#/page1/page101'},
        {name:'Fever improved by staing immobile', link:'/#/page1/page102'},
        {name:'Fever with exhaustion', link:'/#/page1/page103'},
        {name:'Fever with hypersensitivity to light and noise', link:'/#/page1/page104'},
        {name:'Fever with profuse sweating', link:'/#/page1/page105'},
        {name:'Fever with restlessness', link:'/#/page1/page106'},
        {name:'Flu symptoms', link:'/#/page1/page107'},
        {name:'Moderate or low fever', link:'/#/page1/page109'},
        {name:'Postnasal drip', link:'/#/page1/page110'},
        {name:'Runny nose alternating with dryness', link:'/#/page1/page16'},
        {name:'Runny nose with burning', link:'/#/page1/page17'},
        {name:'Sinus congestion', link:'/#/page1/page23'},
        {name:'Sinus pain with pain at base of nose', link:'/#/page1/page122'},
        {name:'Sinus pain with pain in upper jaw', link:'/#/page1/page123'},
        {name:'Sinus pain with thick, greenish discharge', link:'/#/page1/page124'},
        {name:'Sinus pain - other', link:'/#/page1/page125'},
        {name:'Sneezing', link:'/#/page1/page25'},
        {name:'Stuffy nose with clogged ears', link:'/#/page1/page136'},
        {name:'Stuffy nose with thick, greenish discharge', link:'/#/page1/page137'},
        {name:'Stuffy nose triggered by dampness and cold', link:'/#/page1/page138'},
        {name:'Stuffy nose - other', link:'/#/page1/page139'},
        {name:'Baby colic', link:'/#/page1/page29'},
        {name:'Canker sore clearly delimited', link:'/#/page1/page142'},
        {name:'Canker sore deep', link:'/#/page1/page143'},
        {name:'Canker sore in children', link:'/#/page1/page144'},
        {name:'Canker sore on the cheeks', link:'/#/page1/page145'},
        {name:'Canker sore sensitive to heat or cold', link:'/#/page1/page147'},
        {name:'Canker wore with bad taste in the mouth', link:'/#/page1/page146'},
        {name:'Cold sores crust stage', link:'/#/page1/page149'},
        {name:'Cold sores onset', link:'/#/page1/page150'},
        {name:'Cold sores small blisters', link:'/#/page1/page151'},
        {name:'Constipation while traveling', link:'/#/page1/page154'},
        {name:'Constipation with discolored stools', link:'/#/page1/page155'},
        {name:'Constipation with great effort', link:'/#/page1/page156'},
        {name:'Constipation with very dry stools', link:'/#/page1/page159'},
        {name:'Constipation without urges, with large stools', link:'/#/page1/page160'},
        {name:'Constipation with hemorrhoids', link:'/#/page1/page158'},
        {name:'Diarrhea after eating cabbage', link:'/#/page1/page162'},
        {name:'Diarrhea early in the morning', link:'/#/page1/page163'},
        {name:'Diarrhea from food poisoning', link:'/#/page1/page164'},
        {name:'Diarrhea painless', link:'/#/page1/page165'},
        {name:'Diarrhea - traveler diarrhea', link:'/#/page1/page166'},
        {name:'Diarrhea with cold sweats', link:'/#/page1/page167'},
        {name:'Diarrhea with gas and bloating', link:'/#/page1/page168'},
        {name:'Diarrhea with painful cramps', link:'/#/page1/page169'},
        {name:'Diarrhea with rumbling', link:'/#/page1/page170'},
        {name:'Digestive cramps', link:'/#/page1/page172'},
        {name:'Food intolerance to beer', link:'/#/page1/page173'},
        {name:'Food intolerance to beer', link:'/#/page1/page173'},
        {name:'Food intolerance to cabbage | sauerkraut', link:'/#/page1/page174'},
        {name:'Food intolerance to cured meat', link:'/#/page1/page175'},
        {name:'Food intolerance to fatty food', link:'/#/page1/page176'},
        {name:'Food intolerance to garlic', link:'/#/page1/page177'},
        {name:'Food intolerance to ice cream', link:'/#/page1/page178'},
        {name:'Food intolerance to milk', link:'/#/page1/page179'},
        {name:'Food intolerance to onions', link:'/#/page1/page180'},
        {name:'Food intolerance to spices', link:'/#/page1/page181'},
        {name:'Food intolerance to wine', link:'/#/page1/page182'},
        {name:'Gas with belching', link:'/#/page1/page183'},
        {name:'Gas with flatulence', link:'/#/page1/page184'},
        {name:'Gas - other', link:'/#/page1/page185'},
        {name:'Hangover', link:'/#/page1/page186'},
        {name:'Heartburn with gas and bloating', link:'/#/page1/page188'},
        {name:'Heartburn with intense burning', link:'/#/page1/page189'},
        {name:'Heartburn - other', link:'/#/page1/page190'},
        {name:'Hemorrhoids - bleeding easily', link:'/#/page1/page65'},
        {name:'Hemorrhoids - burning with fissures', link:'/#/page1/page67'},
        {name:'Hemorrhoids - itching', link:'/#/page1/page68'},
        {name:'Hemorrhoids - very little or no bleeding', link:'/#/page1/page69'},
        {name:'Hemorrhoids - other', link:'/#/page1/page70'},
        {name:'Hiccups after a large meal', link:'/#/page1/page192'},
        {name:'Hiccups improved by drinking water', link:'/#/page1/page193'},
        {name:'Hiccups with pain', link:'/#/page1/page194'},
        {name:'Hiccups triggered by stress', link:'/#/page1/page195'},
        {name:'Indigestion improved by warm applications to the abdomen', link:'/#/page1/page197'},
        {name:'Indigestion with white-covered tongue', link:'/#/page1/page198'},
        {name:'Indigestion with pain in the gallbladder area', link:'/#/page1/page199'},
        {name:'Indigestion with pain under the right shoulder', link:'/#/page1/page200'},
        {name:'Jet lag with drowsiness', link:'/#/page1/page202'},
        {name:'Jet lag with muscle pain', link:'/#/page1/page203'},
        {name:'Jet lag with sleep pattern disturbances', link:'/#/page1/page204'},
        {name:'Jet lag - other', link:'/#/page1/page201'},
        {name:'Nausea from food poisoning', link:'/#/page1/page214'},
        {name:'Nausea from ice cream', link:'/#/page1/page215'},
        {name:'Nausea from overindulgence', link:'/#/page1/page209'},
        {name:'Nausea from sweets', link:'/#/page1/page216'},
        {name:'Nausea from tobacco smoke', link:'/#/page1/page217'},
        {name:'Nausea from hypersalivation', link:'/#/page1/page218'},
        {name:'Nausea improved by eating', link:'/#/page1/page219'},
        {name:'Nausea improved by fresh air', link:'/#/page1/page220'},
        {name:'Nausea with weakness', link:'/#/page1/page221'},
        {name:'Nausea with clean tongue', link:'/#/page1/page222'},
        {name:'Nausea with painful cramps', link:'/#/page1/page223'},
        {name:'Overindulgence from sweets | cured meat', link:'/#/page1/page175'},
        {name:'Overindulgence from fatty food | ice cream', link:'/#/page1/page178'},
        {name:'Overindulgence - other', link:'/#/page1/page225'},
        {name:'Sour stomach', link:'/#/page1/page226'},
        {name:'Stomach flu', link:'/#/page1/page226'},
        {name:'Teething', link:'/#/page1/page57'},
        {name:'Toothaches', link:'/#/page1/page228'},
        {name:'Black eye', link:'/#/page1/page233'},
        {name:'Chalazion (small bump on the eyelid)', link:'/#/page1/page244'},
        {name:'Dry eyes ', link:'/#/page1/page245'},
        {name:'Eye irritation - from allergies', link:'/#/page1/page236'},
        {name:'Eye irritation - not from allergies', link:'/#/page1/page237'},
        {name:'Strained eyes from artificial lights', link:'/#/page1/page238'},
        {name:'Strained eyes from computer use', link:'/#/page1/page239'},
        {name:'Strained eyes overexerted visual effort', link:'/#/page1/page240'},
        {name:'Strained eyes from poor lighting', link:'/#/page1/page241'},
        {name:'Stye on upper eyelid', link:'/#/page1/page242'},
        {name:'Stye reccurent', link:'/#/page1/page243'},
        {name:'Acne on the forehead and the back', link:'/#/page1/page235'},
        {name:'Pustular acne', link:'/#/page1/page246'},
        {name:'Acne - other', link:'/#/page1/page247'},
        {name:'Athletes foot with itching', link:'/#/page1/page248'},
        {name:'Athletes foot with oozing', link:'/#/page1/page249'},
        {name:'Black eye', link:'/#/page1/page249'},
        {name:'Blisters', link:'/#/page1/page250'},
        {name:'Boils - onset of boils', link:'/#/page1/page263'},
        {name:'Boils - recurrent boils', link:'/#/page1/page264'},
        {name:'Boils - other', link:'/#/page1/page265'},

        {name:'Burns - blisters', link:'/#/page1/page251'},
        {name:'Burns - pink skin, itching', link:'/#/page1/page252'},
        {name:'Burns - red skin, burning', link:'/#/page1/page253'},

        {name:'Cold uticaria', link:'/#/page1/coldurticaria'},
        

     



      ]">
      </div>

<label>Search: <input ng-model="searchText"></label>
<div class="spacer" style="height: 10px;"></div>
<table id="searchTextResults">
<tr><th class="spacecadet" style="padding-right: 20px;padding-bottom:10px;"><b>Symptom</b></th><th><b>Link</b></th></tr>
<tr ng-repeat="medicine in medicines | filter:searchText">
<td style="padding-right: 20px;">{{medicine.name}}</td>
<td><a href="{{medicine.link}}">Find medicines</td>
</tr>
</table>

      
<!-- i Frame Option

    <div class="mobilehappery" style="position: relative; padding-bottom: 56.25%; padding-top: 35px; height: 100%; overflow: hidden;">


        <iframe 
        data-tap-disabled="true" 
        allowfullscreen="" 
        frameborder="0" 
        src="//boironalog.boiron.cloud/"
        style='border:none; position: absolute;
        top:0;
        left: 0;
        width: 100%;'
        scrolling='auto' 
    onload='window.parent.scrollTo(0,0);'   >
    </iframe>
   

</div>
  
  -->

   
  </ion-content>
</ion-view>