<ion-view class="background" title="Search For A Medicine" id="page533">
    <ion-nav-buttons side="right" class="has-header">
        <button onclick="sharePhoto();" class="button icon ion-share"></button>
      </ion-nav-buttons>  

  
  <ion-content padding="true" scroll="true" overflow-scroll="true" class="iframe-wrapper">
  
      <div class="spacer" style="height: 20px;"></div>
      <div class="spacer" style="height: 20px;"></div>



    <div class="mobilehappy" style="position: relative; padding-bottom: 56.25%; padding-top: 35px; height: 100%; overflow: hidden;">


        <iframe 
        data-tap-disabled="true" 
        allowfullscreen="" 
        frameborder="0" 
        src="//boironalog.boiron.cloud/"
        style='border:none; position: absolute;
        top:0;
        left: 0;
        width: 100%;'
        scrolling='auto' 
    onload='window.parent.scrollTo(0,0);'   >
    </iframe>
   

</div>
  
  

   
  </ion-content>
</ion-view>