<ion-view title="Shingles - Worsened by touch or jolts" id="page321">
  <ion-content padding="true" class="has-header">
    <h4 id="shinglesWorsenedByTouchOrJolts-heading1011" style="color:#000000;text-align:center;">Boiron Products</h4>
    <form id="shinglesWorsenedByTouchOrJolts-form244" class="list">
      <ion-toggle toggle-class="toggle-positive" id="shinglesWorsenedByTouchOrJolts-toggle243" ng-model="showContent">Warnings &amp; Information</ion-toggle>
    </form>
    <div id="shinglesWorsenedByTouchOrJolts-markdown1743" ng-show="showContent" class="show-list-numbers-and-dots">
      <p style="color:#000000;">The homeopathic treatment reduces the pain that can sometimes be intense; it will not interfere with other medications. See a doctor if pain or a rash appears around the eyes.</p>
    </div>
    <div class="list card" id="shinglesWorsenedByTouchOrJolts-card2604">
      <ion-item id="shinglesWorsenedByTouchOrJolts-list-item840">Hypericum perforatum 30C</ion-item>
      <div class=" item item-image">
        <img src="img/E2QvdwZxQlC1McdTowPd_bluetubes.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="shinglesWorsenedByTouchOrJolts-list-item-container915">
        <div id="shinglesWorsenedByTouchOrJolts-markdown1744" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Hypericum perforatum relieves pain that seems to follow the nerve's path.</p>
        </div>
      </div>
      <a ui-sref="tabsController.findAStore()" id="shinglesWorsenedByTouchOrJolts-button700" class="button button-positive button-block">Find Near You</a>
      <h5 id="shinglesWorsenedByTouchOrJolts-heading1012" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="shinglesWorsenedByTouchOrJolts-list-item-container916">
        <div id="shinglesWorsenedByTouchOrJolts-markdown1745" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue every hour. Decrease frequency with improvement.</p>
        </div>
      </div>
    </div>
    <div class="list card" id="shinglesWorsenedByTouchOrJolts-card2605">
      <h4 id="shinglesWorsenedByTouchOrJolts-heading1013" style="color:#000000;">Medical Disclaimer</h4>
      <div id="shinglesWorsenedByTouchOrJolts-markdown1746" class="show-list-numbers-and-dots">
        <p style="color:#000000;">The information provided by Boiron’s Homeopathic Medicine Finder is not intended to replace information supplied by your health care professional. It is also not intended to replace packaging inserts or other printed materials that may be available
          or accompany a particular medicine.</p>
      </div>
      <div id="shinglesWorsenedByTouchOrJolts-markdown1747" class="show-list-numbers-and-dots">
        <p style="color:#000000;">*These “Uses” have not been evaluated by the Food and Drug Administration.</p>

        <p style="color:#000000;">**C, K, CK, and X are homeopathic dilutions. </p>
      </div>
      <a ui-sref="tabsController.homeopathicDilutions()" id="shinglesWorsenedByTouchOrJolts-button701" class="button button-positive button-block">Learn about homeopathic dilutions</a>
    </div>
  </ion-content>
</ion-view>