<ion-view title="Snoring - Other" id="page211">
  <ion-content padding="true" class="has-header">
    <h4 id="snoringOther-heading668" style="color:#000000;text-align:center;">Boiron Products</h4>
    <form id="snoringOther-form163" class="list">
      <ion-toggle toggle-class="toggle-positive" id="snoringOther-toggle162" ng-model="showContent">Warnings &amp; Information</ion-toggle>
      <div id="snoringOther-markdown1192" class="show-list-numbers-and-dots"></div>
    </form>
    <div id="snoringOther-markdown1193" ng-show="showContent" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Consult a doctor if symptoms worsen or last more than 7 days.</p>
    </div>
    <div class="list card" id="snoringOther-card2394">
      <ion-item id="snoringOther-list-item580">Hydrastis canadensis 6C</ion-item>
      <div class=" item item-image">
        <img src="img/E2QvdwZxQlC1McdTowPd_bluetubes.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="snoringOther-list-item-container617">
        <div id="snoringOther-markdown1194" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Hydrastis canadensis relieves postnasal drip with thick, yellow nasal discharge. </p>
        </div>
      </div>
      <a ui-sref="tabsController.findAStore()" id="snoringOther-button470" class="button button-positive button-block">Find Near You</a>
      <h5 id="snoringOther-heading669" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="snoringOther-list-item-container618">
        <div id="snoringOther-markdown1195" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue in the afternoon until postnasal drip symptoms are relieved (max 7 days).</p>
        </div>
      </div>
      <div class="spacer" style="height: 50px;"></div>
    </div>
    <h4 id="snoringOther-heading670" style="color:#000000;">Medical Disclaimer</h4>
    <div id="snoringOther-markdown1196" class="show-list-numbers-and-dots">
      <p style="color:#000000;">The information provided by Boiron’s Homeopathic Medicine Finder is not intended to replace information supplied by your health care professional. It is also not intended to replace packaging inserts or other printed materials that may be available
        or accompany a particular medicine.</p>
    </div>
    <div id="snoringOther-markdown1197" class="show-list-numbers-and-dots">
      <p style="color:#000000;">*These “Uses” have not been evaluated by the Food and Drug Administration.</p>

      <p style="color:#000000;">**C, K, CK, and X are homeopathic dilutions. </p>
    </div>
    <a ui-sref="tabsController.homeopathicDilutions()" id="snoringOther-button471" style="color:#FFFFFF;" class="button button-positive button-block">Learn about homeopathic dilutions</a>
  </ion-content>
</ion-view>